* {
   
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: aliceblue;
}

html {
    width: 100%;
    height: 100vh;
}

ul{
    list-style-type: none;
}

body {
    background-image: url(src/img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    height: 90vh;   
    align-items: center;
}

label {
    display: block;
}

#submitButton {
    width: 40px;
    height: 40px;
    margin-bottom:17px;
    align-items: center;
    background-color: #10101D;
    border: 0px;
    cursor: pointer;
    transition: 0.4s;
    font-size: 40px;
    transform-origin: center;
    user-select: none;
    outline:none ;
}

#submitButton:hover {
    color:  #00E7FF;
}

.inputBoxInner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    border-width:0px;
    border-bottom-width:3px ;
    border-color: antiquewhite;
}

#input {
    outline: 0;
    height: 40px;
    font-size: 17px;
    width: 90%;
    background-color: #10101D;
    border-style:solid ;
    border-width: 0px;
    border-bottom-width: 1px;
    border-color: #00E7FF;
    transition: 0.5s;
}

#input:focus {
    border-color: azure;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: auto;
    background-color: #10101D;
    border-radius: 15px;
    padding:  10px;
    transition: 0.5s;
    
}

.toDoContainer {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    
}

.toDoElement {
    display: flex;
    padding: 10px; 
    font-size: 25px;
    width: 450px;
    border-radius: 3px;
    background-color:#191933 ;
    margin-bottom:9px ;
    flex-direction: row;
    justify-content: space-between;
    transition: 0.3s;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; 
}

.toDoElement:hover {
    background-color: #58287F;
}

.title {
    padding: 0 10px;
}

.formDiv {
    display: flex;
}

.clearButton {
    background-color: #10101D;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    transition: 0.3s;
    user-select: none;
}

.clearButton:hover {
    background-color: #7F167F;
}

.inputZone {
  width: 650px;  
}

.innerText {
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#deleteBox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.deleteButton {
    background-color: red;
    outline: none;
    border: none;
    cursor: pointer;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    transition: 0.3s;
}

.deleteButton:hover {
    width: 100px;
}

.deleteButton:active {
    background-color: #CF0A0A;
}

#alert{
    text-align: center;
    font-size: 14px;
    color: gold;
    transition: 0.3s;
    display: none;
}

span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 620px) {
    .inputBoxInner {
        padding: 0px 20px;
        display: flex;
        flex-wrap: wrap;
    }

    .box {
        width: 400px;
    }

    .toDoElement {
        width: 300px;
    }

    .toDoContainer {
        padding-right: 20px;
    }

}

@media (max-width: 480px) {
    .inputBoxInner {
        padding: 0px 20px;
        display: flex;
        flex-wrap: wrap;
    }

    .box {
        margin: 0 30px;
        width: 330px;
    }

    .toDoElement {
        width: 230px;
    }

    .toDoContainer {
       display: flex;
       justify-content: center;
       padding: 0;
       margin: 0;
    }

    #theToDoList {
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
    }

}